<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>
	Hello
</h1>

#if($successSignUp == "successSignUp")
	<p>Sikeres regisztracio</p>
#end
#if($successSignUp == "notSuccessSignUp")
	<p>Sikertelen regisztracio, mar van ilyen user</p>
#end

#if($successLogin == "notSuccessLogin")
	<p>Nem sikerult bejelntkezni</p>
#end

#if($successLogin == "alreadyIn")
	<p>Mar bevagy jelentkezve</p>
#end


<a href="loginForm">login</a></br>
<a href="signupForm">signup</a>


</body>
</html>