<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>
	Hello world!  
</h1>

<P>  The time on thes server is ${serverTime}. </P>
<a href="sendMail">send mail</a>

<img src="./resources/img/$image1" width = "100px"></img></br>
<img src="./resources/img/$image2" width = "100px"></img></br>
</body>
</html>